/*
  font-family: "Baskervville", serif;
  font-family: "Luxurious Script", cursive;
  font-family: "News Cycle", sans-serif;
  font-family: "Noto Serif Display", serif;
  font-family: "Nunito", sans-serif;
  */

:root {
  --primary-color: #a6cea7;
  --secondary-color: #f9f7fe;
  --highlight-color: #b5c1ff;
  --secondary-font: "Noto Serif Display", serif;
  --default-font: "Nunito", sans-serif;
  --altv-color-1: #a6cea7;
  --altv-color-2: #d1d1ea;
  --altv-color-3: #b5cbe3;
  --altv-color-4: #e3cdb5;
}

body {
  font-family: var(--default-font) !important;
  font-weight: 300 !important;
}
h1 {
  font-family: var(--secondary-font);
  font-size: 96px !important;
}

p {
  line-height: 30px;
  font-size: 18px;
}

.logo {
  font-size: 20px !important;
  font-weight: 600;
}

nav {
  padding: 20px 0;
}

nav a {
  color: black !important;
  text-decoration: none !important;
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: var(--primary-color) !important;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav li .active a {
  color: var(--altv-color-1) !important;
  font-weight: bold !important;
}

nav ul {
  padding: 0;
  margin: 0;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
  margin: 0;
}

.intro-text {
  font-family: var(--default-font);
  font-size: 36px;
  margin: 0;
  font-weight: 300;
}

.btn-branding.override,
.btn-branding.ovrride:hover,
.btn-branding.of-projects,
.btn-branding.of-projects:hover {
  padding: 15px 30px;
}

.btn-branding.override {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  line-height: 27px;
  font-size: 18px;
  font-family: var(--secondary-font);
}

.btn-branding.override:hover {
  border: 1px solid var(--highlight-color);
  color: black;
  text-decoration: underline;
}

.project-description {
  display: flex;
  flex-direction: column;
  padding: 60px 60px;
}

.project-title {
  font-family: var(--secondary-font);
  font-weight: 600;
}

.btn-branding.of-projects {
  border: 1px solid var(--primary-color);
  color: black;
  border-radius: 4px;
  line-height: 27px;
  font-size: 16px;
  font-family: var(--secondary-font);
}

.btn-branding.of-projects:hover {
  border: 1px solid var(--highlight-color);
  text-decoration: underline;
}

.border-alternative {
  border: 1px solid #f9f7fe !important;
  border-width: 15px !important;
}

.inquiry {
  background: var(--secondary-color);
}

.footer-styling {
  padding: 60px 60px;
}

/* about page */

.hero-alternative {
  background: #fff;
  padding: 160px 20px;
  margin: 0 auto;
}

h1.about-page,
h1.work-page {
  font-size: 60px !important;
}

h2.about-page-subtitle {
  color: var(--altv-color-1);
  font-weight: 300;
  font-size: 22px;
}

h4.work-page {
  font-family: var(--secondary-font);
  font-size: 30px;
}

p.about-page {
  font-size: 16px;
}

footer .email-link {
  text-decoration: none;
  color: black;
}

footer .email-link:hover {
  color: var(--altv-color-1);
  text-decoration: none;
}

footer .social-links a {
  margin: 0 20px;
  color: black;
  background: var(--altv-color-2);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: #fff;
  background: var(--primary-color);
}

@media (max-width: 1000px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  .container {
    margin: 0;
  }

  .btn-branding.of-projects {
    margin: 0 auto;
  }

  .project-description.about-page {
    padding: 40px;
  }

  .resp-portrait {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}
