/*
  font-family: "Baskervville", serif;
  font-family: "Luxurious Script", cursive;
  font-family: "News Cycle", sans-serif;
  font-family: "Noto Serif Display", serif;
  font-family: "Nunito", sans-serif;
  */

:root {
  --primary-color: #a6cea7;
  --secondary-color: #f9f7fe /*#b5b5ff*/;
  --highlight-color: #b5c1ff;
  --owner-name-font-family: "Noto Serif Display", serif;
  --intro-font-family: "Nunito", sans-serif;
  --altv-color-1: #a6cea7;
  --altv-color-2: #d1d1ea;
  --altv-color-3: #b5cbe3;
  --altv-color-4: #e3cdb5;
}

body {
  font-family: var(--intro-name-font-family) !important;
  font-weight: 200 !important;
}
h1 {
  font-family: var(--owner-name-font-family);
  font-size: 96px !important;
}

p {
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  /* 
 -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  */
  text-align: center;
  padding: 160px 20px;
  margin: 0;
}

/*
.hero:hover {
  background: var(--altv-color-4);
}*/

.intro-text {
  font-family: var(--intro-font-family);
  font-size: 36px;
  margin: 0;
  font-weight: 300;
}

.btn-branding.override {
  background: var(--highlight-color);
  color: #fff;
  border-radius: 4px;
  line-height: 27px;
  font-size: 18px;
  font-family: var(--owner-name-font-family);
  padding: 15px 30px;
}

.btn-branding.override:hover {
  background: var(--altv-color-4);
  color: black;
  border-radius: 4px;
  line-height: 27px;
  font-size: 18px;
  font-family: var(--owner-name-font-family);
  padding: 15px 30px;
}

.project-description {
  display: flex;
  flex-direction: column;
  padding: 60px 60px;
}

.project-title {
  font-family: var(--owner-name-font-family);
  font-weight: 600;
}

.btn-branding.of-projects {
  border: 1px solid var(--primary-color);
  color: black;
  border-radius: 4px;
  line-height: 27px;
  font-size: 16px;
  font-family: var(--owner-name-font-family);
  padding: 15px 30px;
  margin: 0;
}

.btn-branding.of-projects:hover {
  border: 1px solid var(--highlight-color);
  text-decoration: underline;
  border-radius: 4px;
  line-height: 27px;
  font-size: 16px;
  font-family: var(--owner-name-font-family);
  padding: 15px 30px;
}

.border-alternative {
  border: 1px solid #f9f7fe !important;
  border-width: 15px !important;
}

.inquiry {
  background: var(--secondary-color);
}

.footer-styling {
  padding: 60px 60px;
}

/* about page */

.about-section {
  background: #fff;
  padding: 160px 20px;
  margin: 0;
}

h1.about-title.about-page {
  font-size: 60px !important;
}

h2.about-page-subtitle {
  color: var(--altv-color-1);
  font-weight: 300;
  font-size: 22px;
}

@media (max-width: 1000px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  .container {
    margin: 0;
  }

  .btn-branding.of-projects {
    margin: 0 auto;
  }

  .project-description.about-page {
    padding: 40px;
  }

  .resp-portrait {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}
